

@font-face {
   font-family: "Inter Medium";
   src: url('../fonts/Inter-Medium.ttf');
}

@font-face {
   font-family: "Inter";
   src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
   font-family: "Inter";
   src: url('../fonts/Inter-Regular.ttf');
}



.nav {
   -fx-background-color: #BBBBBB;
   -fx-border-color: #1e1e1e;
   -fx-border-width: 0px 1px 0px 0px;
}
.sidetext {
   -fx-font-family: "Inter Medium";
   -fx-font-smoothing-type: LCD;
   -fx-font-size: 13px;
}

.textBold {
   -fx-font-family: "Inter";
   -fx-font-smoothing-type: LCD;
}

.vertext {
   -fx-font-family: "Inter";
   -fx-text-fill: #666666;
   -fx-font-smoothing-type: LCD;
}

.daytext {
   -fx-font-family: "Inter Medium";
   -fx-font-smoothing-type: LCD;
   -fx-text-fill: #fff;
   -fx-font-size: 20px;
}

.h1text {
   -fx-font-family: "Inter Medium";
   -fx-font-smoothing-type: LCD;
   -fx-font-size: 30px;
}

.h3text {
   -fx-font-family: "Inter Medium";
   -fx-font-smoothing-type: LCD;
   -fx-font-size: 18px;
}

.sidebutton {
   -fx-background-color: #00000000;
}

.rCard {
   -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #1c7cee, #1e1e1e);
   -fx-background-radius: 25px;
   -fx-border-radius: 23px;
   -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, #000000, #1e1e1e);
   -fx-border-width: 2.5px;
}

.yCard {
   -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #bbbbbb, #1e1e1e);
   -fx-background-radius: 25px;
   -fx-border-radius: 23px;
   -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, #000000, #1e1e1e);
   -fx-border-width: 2.5px;
}

.dropdown {
   -fx-background-color: #464646;
   -fx-background-radius: 25px;
}